.app {
  display: flex;
  height: 100vh;
}

.menu {
  width: 200px;
  height: 100vh;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.content {
  width: 100%;
  margin-left: 0; /* Default when menu is not shown */
  transition: margin-left 0.3s ease;
}

.authenticated .content {
  margin-left: 200px; /* Space for the menu when authenticated */
}

.authenticated .content {
  margin-left: 0; /* No margin if the menu is not shown */
}
