.app {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .content.authenticated {
    margin-left: 200px; 
  }
  
  .menu {
    width: 200px;
    height: 100vh;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  .form-container input:focus {
    border-color: #756ade;
    outline: none;
    box-shadow: 0 0 8px rgba(117, 106, 222, 0.5);
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    background: #756ade;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .login-container label {
    font-size: 14px;
    color: black;
    margin-bottom: 0;
  }
  
  .login-container .LogInBtn {
    width: 100px;
    background: none;
    border: none;
    color: #756ade;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  
  .register-btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
  }
  
  .register-btns button {
    width: 48%;
    font-size: 12px; 
  }